body {
	text-align: center;
}

#name {
	margin-top: 40vh;
}

#myname {
	font-family: futura-pt, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 5vh;
}

#links {
	margin-top: 10vh;
}

.link_img {
	height: 10vh;
}

.link_item {
	margin: 0vh 5vw;
}